.desktop2Child {
  position: absolute;
  top: 1024px;
  left: 0;
  background-color: var(--color-mediumspringgreen);
  width: 1024px;
  height: 180px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.shay {
  position: absolute;
  top: 0;
  left: 180px;
  font-size: var(--font-size-109xl);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 1260px;
  height: 130px;
}
.desktop2Inner,
.desktop2Item {
  position: absolute;
  background-color: var(--color-darkslategray);
  cursor: pointer;
}
.desktop2Item {
  top: 175px;
  left: 10px;
  border-radius: var(--br-3xs);
  width: 160px;
  height: 80px;
}
.desktop2Inner {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 130px;
}
.image1Icon {
  position: absolute;
  top: 5px;
  left: 27px;
  width: 124.03px;
  height: 120px;
  object-fit: cover;
}
.aboutUs,
.desktop2Child1,
.rectangleButton {
  position: absolute;
  top: 472px;
  left: 10px;
}
.aboutUs,
.desktop2Child1 {
  top: 324px;
}
.aboutUs {
  top: 199px;
  left: 39px;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.mitchellsPage,
.williamsPage {
  position: absolute;
  top: 472px;
  left: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 80px;
}
.mitchellsPage {
  top: 324px;
}
.rectangleTextfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 835px;
  left: 487px;
}
.rectangleSection {
  position: absolute;
  top: 172px;
  left: 979px;
}
.desktop2Child2,
.rectangleDiv {
  position: absolute;
  top: 835px;
  left: 1115px;
}
.rectangleDiv {
  top: 171px;
  left: 979px;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-mediumspringgreen);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 418px;
  height: 56px;
}
.messageBoard,
.send {
  position: absolute;
  text-align: left;
}
.send {
  top: 846px;
  left: 1137px;
  color: #000;
}
.messageBoard {
  top: 175px;
  left: 1062px;
  font-size: 36px;
}
.desktop2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}
